:root {
  --purpur: #140d1d;
  --purpurdarker: #f2e8cf;
  --darkbrown: #362c28;
  --buttons: #fff3b0;
  --orangehover: #f3c969;
  --videohover: #646056;
  --purplish: #9829ff;
  --purplish_darker: rgba(95, 50, 201, 0.651);
  --purplish_old: #b4a1ff8e;
  --purplish_actually_darker: #291c5e;
  --border-color: #21283f;
}
* {
}

#transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #150e22;
  z-index: 2001;
}

.player {
  width: 100%;
  height: 100%;
  transform: scale(-1, 1);
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(20, 16, 26);
  color: white;
  font-size: 14px;
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-family: "Space Grotesk", sans-serif;
}

#nav-bar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--purplish_actually_darker) solid 2px;
  color: white;
  background-color: var(--purpur);
  padding: 0px;
  z-index: 999;
}

#logo {
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
  position: relative;
  display: flex;
  align-items: center;

  font-size: 14px;
  color: white;
  margin: 0;
  padding: 14px;

  left: -50%;
  transform: translateX(calc(15.8rem / 2));
}

.nav-link {
  text-decoration: none;
  color: white;
}

#create-room-button {
  position: absolute;
  align-self: center;
  justify-self: center;
  bottom: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(50%);
  font-size: 14px;
  right: 15px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: transparent;
  border: var(--purplish_darker) solid 1px;
  border-radius: 24px;
  padding: 10px;

  width: 350px;
  transition: 80ms ease-out;
}
#create-room-button:active {
  box-shadow: 0px 0px 70px var(--purplish_darker);
  scale: 0.96;
}

#create-room-button::before {
  content: "or join a room idk";
  opacity: 0;
  position: absolute;
  transition: 200ms ease-in-out;
}

#create-room-button span {
  transition: 200ms ease-in-out;
}

#create-room-button:hover span {
  opacity: 0;
}

#create-room-button:hover::before {
  opacity: 1;
}

#create-room-button:hover {
  box-shadow: 0px 0px 50px var(--purplish_darker);
  background-color: var(--purplish_darker);
  text-shadow: white 0px 0px 1.75px;
  border-color: white;
}

.container {
  margin-top: 50px;
  height: calc(100vh - 74px);
  width: 100%;
  position: relative;
}

#chat-input {
  position: fixed;
  bottom: 1.6rem;
  display: flex;
  width: 23rem;
  margin-left: 1rem;
  border-radius: 24px;
  z-index: 5;
  transition: 300ms ease-in-out;
}

#chat-input input {
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
  border: none;
  color: white;
  background-color: #1e1933;
  font-size: 14px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--purplish_actually_darker);
  border-radius: 24px;

  padding: 1rem;

  transition: 250ms;
}

#chat-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  right: 5px;
  height: 40px;
  position: absolute;
  text-decoration: none;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  padding: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border: 1px solid var(--purplish_actually_darker);
  background-color: rgb(63, 42, 114);

  color: var(--purpur);
  font-weight: 700;
  border-radius: 24px;
  outline: none;
  color: whitesmoke;

  transition: 150ms ease-in-out;
}

#chat-input button:hover {
  box-shadow: 0px 0px 50px var(--purplish_darker);
  background-color: var(--purplish_darker);
  border: 1px white solid;

  padding-left: 100px;
}

#chat-input button::after {
  content: "send";
  position: absolute;
  right: 40%;
  transition: 100ms ease-out;
  opacity: 0;
}

#chat-input button:hover::after {
  opacity: 1;
}

#chat-input input:focus {
  background-color: #171327;
  border-color: rgba(255, 255, 255, 0.5);
}

.messages-container {
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}

.npc-message {
  user-select: none;
  display: flex;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5%;
  align-items: center;
  opacity: 0.7;
}

.player-message {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;

  word-wrap: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}

.player-message-title {
  padding-top: 10px;
  font-size: 16px;
  padding-left: 5%;
  
  font-weight: 100;
  margin: 0;
  display: flex;
  align-items: center;
}

.message-time {
  position: absolute;
  right: 0;
  font-weight: 100;
  font-size: 12px;
  padding-left: 5%;
  padding-right: 5%;
}

.message-wrapper {
  opacity: 1;
  display: flex;
  font-weight: 100;
  font-size: 12px;
}

.participant {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(42, 32, 56, 0.295);
  background-color: rgb(24, 18, 43);
  margin: 0;
  margin-top: 2px;
  width: 100%;
  border-radius: 24px;
}
#member-list {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#empty-message {
  display: none;
  user-select: none;
  position: fixed;
  top: 50%;
  padding-left: 3rem;
  font-weight: 800;
  opacity: 75%;
}

#room-container {
  position: relative;
  display: flex;
  gap: 3rem;
}

#chat-container {
  box-sizing: border-box;
  margin-right: 2px;
  scrollbar-width: none;
  background: #150e22;
  margin-top: 4px;
  border: 1px solid var(--purplish_actually_darker);
  border-radius: 24px;
  right: 0;

  position: fixed;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  max-width: 24.9rem;
  z-index: 998;
  margin-top: 15px;
}

#chat-container::after {
  
  border-top: 1px solid var(--purplish_actually_darker);
  content: "";
  position: fixed;
  width: 24.8rem;
  
  height: 6rem;
  background-color: #150e22;
  bottom: 0;
}

#stream-container {
  justify-self: center;
  width: calc(100% - 40.8rem);
  position: fixed;

  left: 15.8rem;

  overflow-y: auto;
}

#stream-box {
  border: 1px solid var(--purplish_actually_darker);
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background-color: var(--purplish_actually_darker);
  height: 59vh;
  border-radius: 24px;
  margin: 15px;
  margin-bottom: 0px;
  transition: 250ms;
}

#stream-box:hover {
  /* outline: 2px solid var(--videohover);
  outline-offset: 8px;
  outline-style: dashed; */
  border-color: var(--purplish_darker);
}
.title-smaller {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  scale: 1;

  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);

  border-radius: 12px;
  height: 30px;
  width: 80px;
}

.title {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;

  justify-content: center;
  position: absolute;
  z-index: 4005;
  bottom: 0;
  margin-left: 10px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0e131f60;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(24px);
  border-radius: 24px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

#local-video {
  position: absolute;
  width: 100%;
  z-index: 9999;

  left: 0;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(93, 74, 197, 0.336);
  border-radius: 16px;
  cursor: pointer;

  overflow: hidden;
  height: 100px;
  width: 155px;
  transition: 200ms;
  z-index: 0;
}

.video-container:hover {
  border-color: var(--purplish_darker);
}

.streams-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  z-index: 0;
  margin-bottom: 300px;
  padding-bottom: 30px;
}

#participants-container {
  position: relative;
  border-radius: 24px;

  padding: 5px;
  box-sizing: border-box;
  border: 1px solid var(--purplish_actually_darker);
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  background-color: #150e22;
  justify-content: flex-start;
  overflow-x: hidden;
  left: 0;
  position: fixed;
  overflow-y: auto;
  width: 100%;
  max-width: 15.8rem;
  height: 100%;

  z-index: 998;
}

#participants-header {
  width: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(255, 255, 255, 0.02);
  align-items: center;
  text-shadow: white 0px 0px 2px;
  font-weight: 600;
  background: #1e1933;
  height: 3em;
}

#participant-count {
  font-size: 14px;

  border-radius: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

#add-participant {
  overflow: hidden;
  display: flex;
  position: absolute;
  margin: 0;
  left: calc(7.9rem - 75px);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: transparent;
  border: var(--purplish_darker) solid 1px;
  border-radius: 24px;
  padding: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 150px;
  transition: 150ms ease-out;
  position: fixed;

  bottom: 2rem;
}

#add-participant:hover {
  box-shadow: 0px 0px 50px var(--purplish_darker);
  background-color: var(--purplish_darker);
  text-shadow: white 0px 0px 1.75px;
  border-color: white;
  transform: scale(1.05);
}

#add-participant:active {
  box-shadow: 0px 0px 70px var(--purplish_darker);
  scale: 0.96;
}

/* #add-participant span {
  opacity: 1;
  transition: 100ms;
}

#add-participant:hover span {
  opacity: 0;
}

#add-participant::after {
  color: white;
  content: "";
  position: absolute;
  opacity: 0;
  transition: 300ms;
}
.add-participant-edited::before{
  position: absolute;
  content: "copied";
  opacity: 1;
}

#add-participant:hover::after {
  color: white;

  opacity: 1;

  content: "invite";
} */

#stream-container:hover .stream-actions {
  opacity: 1;
  bottom: 0.8rem;
}

.stream-actions {
  opacity: 0;
  position: fixed;
  bottom: 0.8rem;
  border-radius: 36px;
  display: flex;

  background-color: #1f1c3d;
  border: 1px solid rgba(93, 74, 197, 0.336);
  left: calc(50vw - 11.3rem);
  gap: 0.5em;
  padding: 4px;
  transition: 90ms ease-out;
  overflow: hidden;
}

::-webkit-scrollbar {
  
  width: 5px;
}

.stream-actions svg {
  filter: brightness(0);
}

::-webkit-scrollbar-thumb {
  background-color: #302836;
  border: 5px solid rgba(20, 15, 27, 0);
  
  border-radius: 24px;
}

.stream-actions a,
.stream-actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  outline: none;
  border: none;
  background-color: rgba(20, 15, 27, 0.5);
  backdrop-filter: blur(20px);
  z-index: 999;
  border: 1px rgba(255, 255, 255, 0.103) solid;
  border-radius: 24px;
  padding: 10px;

  transition: 250ms ease-out;
}

.stream-actions svg {
  filter: invert(30%) sepia(100%) hue-rotate(200deg) saturate(200%)
    brightness(130%);
  transition: 200ms ease-out;
}

#leave-button:hover svg {
  filter: invert(30%) sepia(100%) hue-rotate(310deg) saturate(1200%)
    brightness(1000%);
}

#leave-button:hover {
  background-color: rgba(255, 67, 67, 0.582);
  box-shadow: 0px 0px 140px rgb(255, 31, 31), 0px 0px 40px rgb(255, 31, 31);
  border-color: rgba(253, 26, 26, 0.952);
}

.stream-actions a:hover,
.stream-actions button:hover {
  z-index: 2;
  background-color: #6647b9c7;
  box-shadow: 0px 0px 140px rgb(146, 88, 255), 0px 0px 40px rgb(129, 85, 233);
  border: 1px white solid;
}

.stream-actions button:hover svg {
  filter: invert(30%) sepia(100%) hue-rotate(310deg) saturate(900%)
    brightness(1000%);
}

.stream-actions a:active,
.stream-actions button:active {
  background: var(--purplish_actually_darker);
}

::selection {
  background-color: white;
  color: black;
}

input:focus {
  outline: none;
}

#disabled {
  filter: invert(30%) sepia(100%) hue-rotate(200deg) saturate(300%)
    brightness(50%);
}

#video-off {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hwb(246 5% 91%);
  font-size: 16px;
  font-weight: 800;
  color: #746d8d;
  user-select: none;
}
